.process_info {
    border-radius: 15px;
    background-color: var(--white);
    padding: 15px;
    margin: 0 auto;
}

.process {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

#process {
    margin: 0 auto;

}

#process_info_1_1, #process_info_2_1, #process_info_3_1, #process_info_4_1, #process_info_5_1, #process_info_6_1 {
    font-size: calc(1vw + 60px);
}

#process_info_1_2, #process_info_2_2, #process_info_3_2, #process_info_4_2, #process_info_5_2, #process_info_6_2 {
    font-size: calc(1vw + 5px);
}

.process_info p {
    color: var(--grey-1);
    font-size: calc(1vw - 0.5px);
}

.process_info:hover h1{
    color: var(--primary);
}

#important {
    padding-top: calc(1vw + 50px);
    color: var(--primary);
    font-size: calc(1vw + 30px);
}

#important_info {
    color: var(--grey-1);
    font-size: calc(1vw + 9px);
    font-weight: 100;

}

  
  @media screen and (max-width: 1000px) {
    .process_info p {
        font-size: calc(1vw + 5px);
    }
    #process_info_1_2, #process_info_2_2, #process_info_3_2, #process_info_4_2, #process_info_5_2, #process_info_6_2 {
        font-size: calc(1vw + 15px);
    }
  }
  
  @media screen and (max-width: 750px) {
    .process_info p {
        font-size: calc(1vw + 9px);
    }
    .process_info h1{
        color: var(--primary);
    }

    .process {
        grid-template-columns:1fr;

    }
  }