.process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.process-block {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--white);
  border-radius: 16px;
}

.process-block h3 {
  margin: 6px 0;
}

.process-block:hover span {
  color: var(--primary);
}

.important {
  padding: 64px 0 0 0;
}

.important span {
  display: flex;
  align-items: end;
  gap: 8px;
  font-size: 64px;
  color: var(--primary);
}

@media screen and (max-width: 1000px) {
  .process {
    grid-template-columns: 1fr;
  }
}