.service {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.service-content {
  border: 1px solid var(--black);
  border-radius: 16px;
  padding: 40px;
}

.service-image {
  width: 100%;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info h3 {
  margin-bottom: 12px;
}

@media screen and (max-width: 750px) {
  .service {
    grid-template-columns: 1fr;
  }
}