.tarif {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tarif-card {
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 40px;
  border-radius: 16px;
  background-color: var(--white);
}

.tarif-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.tarif-content li {
  margin: 5px 0 0 24px;
  list-style: initial;
}

.price {
  border-bottom: 3px solid var(--primary);
}

.price h3 {
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .tarif-card {
    padding: 24px 0 24px 24px;
  }
}