#technology a {
    color: var(--primary);
}

#technology h3 {
    color: var(--grey-1);
    font-weight: 100;
    font-size: calc(1vw + 9px);
}

.technology {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: calc(100% + 5vw);
    padding: 50px;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
}

.technologies {
    width: calc(1vw + 200px);
    height: 150px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.technologies img {
    margin: 0 auto;
    width: calc(1vw + 100px);
}

@media screen and (max-width: 1000px) {
   
  }
  
  @media screen and (max-width: 750px) {
    .technology {
        justify-content: space-around;
    }
    .technologies {
        width: calc(1vw + 150px);
        height: 100px;
    }
    .technologies img {
        margin: 0 auto;
        width: calc(1vw + 70px);
    }
  }