#technology a {
    color: var(--primary);
}

#technology h3 {
    color: var(--grey-1);
    font-weight: 100;
    font-size: calc(1vw + 9px);
}

.technology {
    margin-top: 50px;
    width: 100%;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  
}

.technologies {
    height: 250px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.technologies:hover {
    transform: scale(1.05);
    background-color: var(--grey-1);
}

.technologies img {
    margin: 0 auto;
    width: calc(1vw + 100px);
}

@media screen and (max-width: 1000px) {
   
  }
  
  @media screen and (max-width: 750px) {
    .technology {
        grid-template-columns: repeat(2, 1fr);
    }
    .technologies {
        height: 120px;
    }
    .technologies img {
        margin: 0 auto;
        width: calc(1vw + 70px);
    }
  }